* {
  	/* border: 1px  dotted green; */
		font-family: 'Roboto';
}
@media screen and (min-width: 60em) {
	.nav-container {
		width: 56em;
		margin: auto;
	}

}
@media screen and (max-width: 32em)
{
	.nav-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		box-sizing: border-box;
	}
	button {
		font-size: .05em;
	}
	.page-buttons {
		flex-direction: column;
		align-items: flex-start;
	}
	.page-info {
		display: flex;
		align-content: flex-end;
		justify-content: flex-end;
	}
}
nav, select, button {
	background-color: #424B54;
	color: #F9F7F3;
	border: none;
}
body {
	background-color: #F9F7F3;
	margin: 0px;
}
nav {
	width: 100%;
	height: 10em;
	padding: 1em 2em 2em 2em;
	box-sizing: border-box;
}
button {
	font-size: 1.2em;
}
.nav-container {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.page-buttons {
	width: 30%;
	display: flex;
	justify-content: space-between;
}
.page-info {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}
.menu {
	display: flex;
	flex-direction: row;
}
#user-icon {
	width: 1em;
}
#logo {
	width: 8em;
}
